<!--<party-add></party-add>-->
<!-- <ul>
  <li ng-repeat="party in partiesList.parties">
    <a ui-sref="partyDetails({ partyId: party._id })">
      {{party.name}}
    </a>
    <p>{{party.description}}</p>
    <party-remove party="party"></party-remove>
  </li>
</ul> -->
<ion-list id="partiesListPage-list1" class=" ">
    <ion-item ng-repeat="party in partiesList.parties" class="item-icon-right" id="partiesListPage-list-item{{$index + 1}}">
	    <a ui-sref="partyDetails({ partyId: party._id })">
	      {{party.name}}
	    </a>
	    <p>{{party.description}}</p>
    	<div class="icon">
        	<party-remove party="party"></party-remove>
        	&nbsp;
          <a ui-sref="partyAdd({ partyId: party._id })">
        	  <span class="ion-edit"></span>
          </a>
        </div>
    </ion-item>
</ion-list>
